/ActorRepresentation.java
/ComActorRepresentation.java
/ComLabelRepresentation.java
/ComMessageRepresentation.java
/ComObjectRepresentation.java
/ComPartyRepresentation.java
/InvocationMessageRepresentation.java
/LabelRepresentation.java
/MessageRepresentation.java
/ObjectRepresentation.java
/PartyRepresentation.java
/ResultMessageRepresentation.java
/SeqActorRepresentation.java
/SeqLabelRepresentation.java
/SeqMessageRepresentation.java
/SeqObjectRepresentation.java
/SeqPartyRepresentation.java
/SeqResultMessageRepresentation.java
